.flex_container {
  width: 100%;

  height: 500px;
  background: #000;
}

.flex_item {
  width: 150px;
  height: 150px;

  background: white;
  border: 2px solid red;
}

.flex_container {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */

  flex-direction: row;
}

.demoBefore::after {
  display: inline;
  content: "You ";
  position: absolute;
}
