.container {
  background: #000;
  height: 400px;
}
.title {
  color: red;
}
/* max width - min width */

@media screen and (max-width: 1200px) {
  .container {
    background: red;
  }
}

@media screen and (max-width: 992px) {
  .container {
    background: pink;
  }

  .title {
    color: green;
  }
}
/* 500px */
