* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  position: absolute;
  width: 100%;
  z-index: 2;
}
header ul {
  list-style: none;
  display: flex;
}
header ul li {
  margin-left: 15px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  height: 80px;
  align-items: center;

  background: transparent;
}
header .header__logo {
  font-size: 2rem;
  font-weight: 500;
  color: white;
}

header li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: white;

  transition: 0.5s;
}

header li a:hover {
  color: #e62b4a;
}
header li a.active {
  color: #e62b4a;
}

/* start carousel */

.carousel {
  background-image: url("./image-video/home_slider.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.carousel__container {
  width: 40%;
  height: 50%;

  text-align: center;
  color: white;

  border: 2px solid orange;
}

.carousel__container h2 {
  font-size: 4rem;

  text-transform: uppercase;
  margin: 15px 0px;
}
.carousel__container p {
  font-size: 1.5rem;
}
.carousel__container button {
  padding: 25px 35px;
  text-transform: uppercase;

  background: #e62b4a;
  color: white;
  border: none;
  font-size: 1rem;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  transform: translateX(-200px);
}

/* end carousel */
