*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background: #ffc0b5;
    padding: 10px 80px;
}
.clear{
    clear: both;
}

.header li{
    display: inline;
    margin-right: 15px;
}

.header li a{
    text-decoration: none;
    color: black;
}
.carousel {
    background-image: url(./Image/BG.png);
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.activities{
    padding: 80px 10px ;
    background: #2b1105;
}
.activities .tittle{
    text-align: center;
}
.activities .tittle p{
    font-weight: bold;
    font-size: 24px;

}
.item__activities img{
    width: 100%;
    height: 180px;
    padding: 30px;
    object-fit: cover;
    border-radius: 100px;
    
}
.item__activities{
    border: 1px solid red;
    height: 400px;
    width: 25%;
    float: left;
    padding: 0px 15px;

}
.item__activities .content{
    background: white;
    padding: 30px;
    height: 100%;
    border-radius: 16px;
    
}
.item__activities .tittle__item{
    text-align: center;
}
.tittle__item p{
    margin: 15px 0px;
}
.tittle__item {
    margin-top: 20px;
}
.tittle__item button{
    padding: 10px 30px;
    border-radius: 16px;
}