* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* start header */
header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 11;
}

header .navbar-light .navbar-nav .nav-link {
  color: white;
  transition: 0.3s;

  position: relative;
}

header .navbar-light .navbar-nav .nav-link::before {
  display: block;
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  left: 0;
  bottom: -5px;
  background: #35a22c;
  transition: 0.3s;
}

header .navbar-light .navbar-nav .nav-link:hover::before {
  width: 100%;
}

header .navbar-light .navbar-nav .nav-link:hover {
  color: #35a22c;
}

header .navbar-light .navbar-nav .active > .nav-link {
  color: #35a22c;
}

header .navbar-light .navbar-nav .active > .nav-link::before {
  color: #35a22c;
  width: 100%;
}
/* end header */

/* start carousel */

.carousel__bg {
  height: 100vh;

  object-fit: cover;
}
#carousel .carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#carousel .carousel-caption {
  bottom: 30%;
}

#carousel .carousel-item::before {
  display: block;
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
}
.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.carousel-indicators li.active {
  background-color: #35a22c;
}
/* end carousel */

#products .item__content {
  border-radius: 16px;

  overflow: hidden;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  height: 450px;
  text-align: center;

  /* border: 1px solid red; */

  cursor: pointer;
}
#products .item__content img {
  height: 350px;
  object-fit: cover;
}

#products .item__content .title {
  /* padding: 25px; */

  padding: 15px;
  height: 100px;

  transition: 0.3s;

  border: 1px solid white;
  border-radius: 16px;

  border-top-left-radius: 0px;

  border-top-right-radius: 0px;
}

#products .item__content:hover .title {
  color: #35a22c;

  border-color: #35a22c;
  border-top-color: white;
}
