* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header {
    padding: 20px;
    margin: auto;
    width: 75%;
  }
  .test {
    font-size: 36px;
    text-decoration: none;
    text-align: center;
  }
  .header ul{
      list-style: none;
      margin-top: 10px;
  }
  
  .header .test i {
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    background-color: #002147;
    font-size: 18px;
    vertical-align: bottom;
    color: yellow;
    display: inline-block;
    
    
  }
  .header li{
      display: inline;
      margin: 10px;
  }
  .header li a {
      text-decoration: none;
      color: black;
  }
  .carousel{
      background-image: url(./images/2.jpg);
      height: 80vh;
      width: 100%;
      background-size: cover;
  }
  .activities{
      padding: 10px 10px;
  }

.activities .infor__right,
.activities .infor__left{
    float: left;
    width: 50%;
    padding: 20px 60px;
    
  }
  .activities .infor__right p{
      text-align: left;
      padding: 10px;
      
  }
 .activities .infor__right button{
      padding: 10px 30px;
      border-radius: 5px;
      background-color: yellow;
      border: none;
      color: #052445;
      font-weight: bold;
      cursor: pointer;

  }

  .activities .infor__left img {
      margin: auto;
      width: 100%;
      
  }
 .clear {
      clear: both;
  }
 .content {
     padding: 30px;
     background-color: #f6f6f6;
 }
 .num{
     margin: auto;
     width: 80%;
 }
 .num .item{
     float: left;
     width: 25%;
     padding: 10px;
     
 }

.left {
    float: left;
    padding: 0px 15px;
    font-size: 20px;    
 }
 .right {
     padding: 5px 30px ;
     font-size: 15px;
 }
 .contact{
     padding: 50px;
 }
 .contact__icon{
     margin: auto;
     width: 100%;
     padding: 15px;
     
 }
.icon .e {
    float: left;
    width: 25%;
    background-color: #002146;
    height: 180px;
    text-align: center;
    padding: 50px;
    font-size: 20px;
    border: 15px solid white;
    color: #ffffff;
    border-radius: 20px;
}
.icon_right .e {
    float: left;
    width: 25%;
    height: 180px;
    background-color: #002146;
    text-align: center;
    padding: 50px;
    font-size: 20px;
    border: 15px solid white;
    color: #ffffff;
    border-radius: 20px;
}

.icon .e p {
    padding: 10px;
}
.icon_right .e p {
    padding: 10px;
}

.event{
    padding: 30px;
}



     



  