.container {
  background: #000;
  width: 100%;
  height: 500px;
}

.block_1 {
  width: 100px;
  height: 100px;
  animation-name: animate2;
  animation-duration: 2s;
  background: red;
  animation-iteration-count: infinite;
}

@keyframes animate1 {
  from {
    background-color: blue;
    transform: translateX(200px);
  }
  to {
    transform: translateX(300px);
    background: yellow;
  }
}

@keyframes animate2 {
  0% {
    background: blue;
  }
  10% {
    background: yellow;
  }
  20% {
    background: pink;
  }
  50% {
    background: purple;
  }
  100%{
      background: green;
  }
  }
}

/* 3s */

/*  start end 0 3 */

/*  */
