.grid__container {
  width: 100%;

  height: 600px;
  background: black;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr 1fr 1fr;

  column-gap: 20px;
  row-gap: 20px;
}
.grid__item {
  background: red;

  border: 1px solid white;
}
.item__green {
  background: green !important;

  grid-row: 1 / span 3;
  grid-column: 1 / 4;
}
