/* start header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 11;
}

header .navbar-light .navbar-nav .nav-link {
  color: white;
  transition: 0.3s;

  position: relative;
}

header .navbar-light .navbar-nav .nav-link::before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;

  bottom: -5px;
  background: #35a22c;
}

header .navbar-light .navbar-nav .nav-link:hover {
  color: #35a22c;
}

header .navbar-light .navbar-nav .active > .nav-link {
  color: #35a22c;
}
/* end header */

/* start carousel */

.carousel__bg {
  height: 100vh;

  object-fit: cover;
}
#carousel .carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#carousel .carousel-caption {
  bottom: 30%;
}

#carousel .carousel-item::before {
  display: block;
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
}
.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.carousel-indicators li.active {
  background-color: #35a22c;
}
/* end carousel */
