* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clear {
  clear: both;
}

.header {
  background: #ffc0b5;

  padding: 10px 80px;
}
.header li {
  display: inline;
  margin-right: 20px;
}

.header li a {
  text-decoration: none;
  color: black;
}
.carousel {
  background-image: url(./Image/BG.png);

  height: 70vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* start activities */
.activities {
  padding: 80px 10px;
  background: #efe3d6;
}
.activities .title {
  text-align: center;
}

.activities .title p {
  font-weight: bold;
  font-size: 24px;
}
.item__activities {
  border: 1px solid red;

  height: 400px;

  width: 25%;
  float: left;
  padding: 0px 15px;
  
}

.item__activities .content {
  background: white;
  height: 100%;
  padding: 30px;
}
.item__activities img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
/* end activities */
