.container {
  width: 80%;
  height: 500px;
  background: #000;
  position: relative;
}
.header {
  width: 100%;

  height: 700px;
  background: green;
}
.child-1 {
  width: 200px;
  height: 200px;
  background: red;
  /* position: absolute;
  left: 50%;
  bottom: 100px; */

  position: relative;
  /* right: 200px; */
  top: 400px;
}
.child-2 {
  width: 200px;
  height: 200px;
  background: blue;
  /* position: absolute;
  left: 50%;
  bottom: 100px; */
}
