* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
}

header {
  position: absolute;
  width: 100%;
  z-index: 2;
}
header ul {
  list-style: none;
  display: flex;
}
header ul li {
  margin-left: 15px;
}
.header__container {
  height: 80px;

  background: transparent;
}
header .header__logo {
  font-size: 2rem;
  font-weight: 500;
  color: white;
}

header li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: white;

  transition: 0.5s;
}

header li a:hover {
  color: #e62b4a;
}
header li a.active {
  color: #e62b4a;
}

/* start carousel */

.carousel {
  background-image: url("./image-video/home_slider.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.carousel__container {
  width: 40%;
  height: 50%;

  text-align: center;
  color: white;

  border: 2px solid orange;
}

.carousel__container h2 {
  font-size: 4rem;

  text-transform: uppercase;
  margin: 15px 0px;
}
.carousel__container p {
  font-size: 1.5rem;
}
.carousel__container button {
  padding: 25px 35px;
  text-transform: uppercase;

  background: #e62b4a;
  color: white;
  border: none;
  font-size: 1rem;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
}
.animate_carousel {
  display: block;

  font-size: 30px;
  margin-top: 20px;
  animation-name: animate_fade;
  animation-duration: 0.5s;

  /* animation-fill-mode: forwards; */
  /* animation-iteration-count: infinite; */
}

/* start slider */

.slider {
  background: black;

  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
}

.slider__carousel {
  /* color: white; */
}

.slider__carousel {
  width: 100%;
}

.slider__item {
  height: 200px;
  padding: 0px 15px;
}
.item__content {
  position: relative;
}
.item__content::before {
  display: block;
  content: "";

  height: 0px;
  width: 4px;
  background: red;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s;
}

.item__content:hover::before {
  height: 100%;
}

.slider .item__content {
  background: white;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.slick-dots li button:before {
  color: white;
  opacity: 0.75;
  font-size: 20px;
}
.slick-dots li.slick-active button:before {
  color: red;
}
.slick-dots {
  bottom: -50px;
}
/* end slider */

/* start showcase */
.showcase {
  padding: 80px 0;
}
.showcase__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 20px;
}

.show__item {
  height: 300px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.show__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  filter: grayscale(100%) contrast(50%);
}
.showcase__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(230, 43, 74, 0.5);
  top: 0;
  left: 0;
  /* display: none; */
  /* visibility: hidden; */
  opacity: 0;
  transition: 0.5s;
}

.show__item:hover .showcase__overlay {
  opacity: 1;
}

.showcase__search {
  position: absolute;

  width: 40px;
  height: 40px;
  background: white;
  top: 30px;
  right: 30px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay__title {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: white;
}
.overlay_tranform {
  transform: translateY(50px);
  transition: 0.5s;
}
.show__item:hover .overlay_tranform {
  transform: translateY(0px);
}

/* end showcase */

@keyframes animate_fade {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(50px);
    opacity: 0;
  }
}

/* end carousel */
