* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clear {
  clear: both;
}

.header {
  background: #ffc0b5;

  padding: 10px 80px;
}
.header li {
  display: inline;
  margin-right: 20px;
}

.header li a {
  text-decoration: none;
  color: black;
}
.carousel {
  background-image: url(./Image/BG.png);

  height: 70vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* start activities */
.activities {
  padding: 80px 10px;
  background: #efe3d6;
}
.activities .title {
  text-align: center;
}

.activities .title p {
  font-weight: bold;
  font-size: 24px;
}
.item__activities {
  height: 400px;

  width: 25%;
  float: left;
  padding: 0px 15px;
}

.item__activities .content {
  background: white;
  height: 100%;
  padding: 30px;
  border-radius: 16px;
  position: relative;
}
.item__activities img {
  width: 100%;
  height: 180px;
  object-fit: cover;

  border-radius: 16px;
}

.item__activities .title__item {
  text-align: center;
}

.title__item p {
  margin: 15px 0px;
}

.title__item {
  margin-top: 20px;
}
.title__item button {
  padding: 10px 30px;
  border-radius: 16px;
  border: none;
}
.activities .container {
  margin: 30px 0px;
}
.view_all {
  width: 150px;
  height: 40px;
  margin: 0px auto;
  display: block;

  border-radius: 20px;
  background: transparent;
  color: #e36b4d;
  border: 1px solid #e36b4d;
  cursor: pointer;
}
.item__activities .heart {
  width: 35px;
  height: 35px;
  background: white;
  text-align: center;
  line-height: 35px;
  border-radius: 8px;
  position: absolute;
  top: 50px;
  right: 50px;
  color: #e36b4d;
}
.contact {
  height: 400px;
  width: 100%;

  border: 1px solid red;
}

.contact .left,
.contact .right {
  width: 50%;
  height: 100%;
  border: 10px solid green;
  float: left;
}
.contact .left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.contact .left {
  background-image: url(./Image/mask.png);
  background-size: contain;
  background-repeat: no-repeat;
}
/* end activities */
